<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Vue 2</title>
</head>
<body>
    <!-- 影片 #6~#10 -->

    <div id="vue-app">
        <p>This year is {{ year }}</p>
        <button v-on:click.once='add(1)'>Add a year</button>  <!-- .once讓事件只會觸發一次 -->
        <button @click='subtract(1)'>Substract a year</button>


        <h1>KeyBoard Events(Look at console)</h1>
        <label>Name:</label>
        <input type="text" v-on:keyup.enter='logName'>
        <label>Age:</label>
        <input type="text" v-on:keyup.alt.enter="logAge">

        <h2>V-model</h2>
        <input type="text" v-model='name'>
        <input type="text" v-model="age"> <br>
        <span>{{ name }}</span>
        <span>{{ age }}</span>
    </div>

    <!-- 引入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- 引入自己的JS -->
    <script src="./firstVue2.js"></script>
</body>
</html>