<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Vue 2</title>
</head>
<body>
    <!-- 影片 #6~#10 -->

    <div id="vue-app">
        <p>This year is {{ year }}</p>
        <button v-on:click.once='add(1)'>Add a year</button>  <!-- .once讓事件只會觸發一次 -->
        <button @click='subtract(1)'>Substract a year</button>


        <h2>KeyBoard Events(Look at console)</h2>
        <label>Name:</label>
        <input type="text" v-on:keyup.enter='logName'>
        <label>Age:</label>
        <input type="text" v-on:keyup.alt.enter="logAge">

        <h2>V-model</h2>
        <input type="text" v-model='name'>
        <input type="text" v-model="age"> <br>
        <span>{{ name }}</span>
        <span>{{ age }}</span>

        <h2>#9 Computed Properties</h2>
        <button v-on:click="a++">Add to A</button>
        <button @click="b++">Add to B</button>
        <p>A - {{ a }}</p>
        <p>B - {{ b }}</p>
        <!-- <p>Age + A = {{ addToA() }}</p> -->
        <!-- <p>Age + B = {{ addToB() }}</p> -->
        <p>Age + A = {{ addToA }}</p>
        <p>Age + B = {{ addToB }}</p>

        <div id="vedio10">
            <h2>#10 Dynamic CSS Classes</h2>
            <h3>Ex1</h3>
            <!-- <div v-bind:class="{red: true, blue: true}"></div> -->
            <div @click='available = !available' v-bind:class="{available: available}">
                <span>Ryan</span>
            </div>
            <h3>Ex2</h3>
            <button @click='available2 = !available2'>Toggle available</button>
            <button @click='nearby = !nearby'>Toggle nearby</button>
            <div v-bind:class='compClass'>
                <span>Ryan2</span>
            </div>
        </div>
    </div>

    <style>
        #vedio10 span {
            background: red;
            display: inline-block;
            padding: 10px;
            color: #fff;
            margin: 10px 0;
        }
        #vedio10 .available span, #vedio10 .available2 span {
            background: green;
        }
        #vedio10 .nearby span::after {
            content: 'nearby';
            margin-left: 10px;
        }
    </style>

    <!-- 引入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- 引入自己的JS -->
    <script src="./firstVue2.js"></script>
</body>
</html>