<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueMaster</title>
    <link rel="stylesheet" type='text/css' href="vueMaster.css">
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img :src="image">
            </div>
            
            <div class="product-info">
                <h1>{{ title }}</h1>
                <p v-if='inventory > 10'>In stock</p>
                <p v-else-if='inventory < 10 && inventory > 0'>Almost sold out!</p>
                <p v-else>Outof stock</p>
                <p v-show='instock'>V-show</p>

                <ul>
                    <li v-for='detail in details'>{{ detail }}</li>
                </ul>

                <div v-for='variant in variants' 
                    :key='variant.variantID' 
                    class="color-box"
                    :style='{ backgroundColor: variant.variantColor}' 
                    @mouseover='updateProduct(variant.variantImage)'>
                </div>

                <button v-on:click='cart += 1'>Add to Cart</button>
                <button v-on:click='addToCart' 
                    :disabled='!instock' 
                    :class='{ disabledButton: !instock }'>Add to Cart</button>
                <div class="cart">
                    <p>Cart {{ cart }}</p>
                </div>

            </div>
        </div>
    </div>

    <!-- 引入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- 引入自己的JS -->
    <script src="./vueMaster.js"></script>
</body>
</html>